<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="altazion-basebusiness" version="20.8.11.17" targetFramework="net461" />
  <package id="altazion-commerce" version="20.8.11.17" targetFramework="net461" />
  <package id="altazion-core" version="20.8.11.17" targetFramework="net461" />
  <package id="altazion-gestcom" version="20.8.11.17" targetFramework="net461" />
  <package id="altazion-server" version="20.8.11.17" targetFramework="net461" />
  <package id="CPointSoftware-DocBase" version="18.10.29.19" targetFramework="net461" />
  <package id="CPointSoftware-Framework" version="17.4.11.13" targetFramework="net461" />
  <package id="creoignem-otoma" version="19.11.26.15" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.5.1" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net461" />
  <package id="mongo-db-driver-creo" version="2.4.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Serilog" version="2.7.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Datadog.Logs" version="0.3.0" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="8.0.1" targetFramework="net461" />
</packages>